.heading {
  display: flex;
  height: auto;
  gap: 25px;
  flex-direction: row;
  justify-content: space-around;
}
.headingBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stJamesPark {
  text-align: center;
}

.scoreLine {
  display: flex;
  height: auto;
  gap: 15%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.scoreLineBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.scoreLineBoxItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCenter {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 2rem 10%;
  min-height: 50px;
  min-width: 70%;
  background-color: #f10f0f;
  border: 2px solid #f10f0f;
  border-radius: 7px;
  box-sizing: border-box;
  color: #ffffff;
}

.mainBody {
  background-color: #ffffff;
  color: #000000;
  /* padding: 2rem; */
}

.upperStatsContainer {
  display: flex;
  height: auto;
  flex-direction: row;
  padding: 2rem 2rem 0.5rem;
  /* padding-right: 2rem; */
  /* gap : 10%; */
  justify-content: space-around;
}

.upperStats {
  display: flex;
  flex-direction: row;
  /* gap: 50%; */
  /* padding-right: 10px; */
  /* padding-left: 10px; */
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  /* margin: 2rem 10%; */
  min-height: 50px;
  min-width: 30%;
  justify-content: space-evenly;
  background-color: #cccbcb;
  border: 2px solid #717171;
  border-radius: 9px;
}

/* .upperStatsText {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.lowerStatsContainer {
  display: flex;
  height: auto;
  /* flex-direction: row; */
  justify-content: space-around;
  padding: 1rem;
  /* margin-top: 1rem; */
  /* align-items: center; */
}

.lowerStats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* align-items: center;
   min-width: 30%;
  justify-content: space-evenly; */
}

.lowerStats p {
  margin: 0.5rem;
}

.stream {
  margin: 1rem;
}

.livePlayContainer{
 display: flex;
  justify-content: center;
  align-items: center; 
  align-content: space-around;
  flex-wrap: wrap;
}

.livePlay {
  min-width: 95%;
  height: 200px;
  background-color: #dcdcdc;
  border: 2px solid #dcdcdc;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  

}
.livePlay p {
  margin-left: 2rem;
  transform: translateY(3rem);
}

.livePlay h4 {
  transform: translateY(4rem);
  margin-left: 2rem;
}
.livePlay button {
  background-color: #f10f0f;
  width: 36px;
  height: 36px;
  border: 1px solid #f10f0f;
  border-radius: 18px;
  align-self: flex-end;
  transform: translateY(-1.5rem);
  margin-right: 1rem;
  /* transform: translateX(-2rem); */
}
